<h1>Sign up</h1>
<% if @errors %>
    <% @errors.each do |e| %>
    <p> <%= e %> </p>
    <% end %>
<% end %>

<form method="post" action="/users" >
    <label>Username:</label>
    <input type="text" name="username" placeholder="Username">
    <label>Password:</label>
    <input type="password" name="password" placeholder="Password">
    <label>Confirm Password:</label>
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <input type="submit" name="Sign Up">
    </form>