<h1>Add New Restaurant!</h1>
<br>
<form method="post" action="/restaurants" >
    <label>Restaurant Name:</label>
    <input type="text" name="restaurant[name]" placeholder="Name" >
    <br>
    <br>
    <label>Cuisine:</label>
    <input type="text" name="restaurant[cuisine]" placeholder="Cuisine" >
    <br>
    <br>
    <label>Rating out of 10:</label>
    <input type="text" name="review[num_rating]" placeholder="Rating" >
    <br>
    <br>
    <label>Comment:</label>
    <input type="text" name="review[comment_rating]" placeholder="Comment" >
    <br>
    <br>
    <label>Neighborhood:</label>
    <input type="text" name="restaurant[neighborhood]" placeholder="Neighborhood" >
    <br>
    <br>
    <label>Date of Visit:</label>
    <input type="text" name="restaurant[date_of_visit]" placeholder="Date" >
    <input type="submit" name="Add Restaurant">
</form>