<h1>Add New Restaurant!</h1>

<form method="post" action="/restaurants" >
    <label>Restaurant Name:</label>
    <input type="text" name="restaurant[name]" placeholder="name" >
    <label>Cuisine:</label>
    <input type="text" name="restaurant[cuisine]" placeholder="cuisine" >
    <label>Rating:</label>
    <input type="text" name="review[num_rating]" placeholder="rating" >
    <label>Comment:</label>
    <input type="text" name="review[comment_rating]" placeholder="comment" >
    <label>Neighborhood:</label>
    <input type="text" name="restaurant[neighborhood]" placeholder="neighborhood" >
    <label>Date of Visit:</label>
    <input type="text" name="restaurant[date_of_visit]" placeholder="date" >
    <input type="submit" name="Add Restaurant"
</form>