<h1>Add your review for <%= @restaurant.name %>!</h1>
<br>
<form method="post" action="/reviews/<%=@restaurant.id%>" >
    <label>Rating out of 10:</label>
    <input type="text" name="review[num_rating]" placeholder="Rating" >
    <br>
    <br>
    <label>Comment:</label>
    <input type="text" name="review[comment_rating]" placeholder="Comment" >
    <br>
    <br>
    <input type="submit" name="Add Review">
</form>
